<navigation></navigation>

<div class="container details">

  <div class="container well businessDetails">
    <div class="container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
      <h1>{{business.name}}</h1>
      <p class="lead">Star Rating: {{business.overall_star_rating}}</p>
      <div class="imgDiv">
        <img class="img-responsive" src={{business.picture.data.url}} />
      </div>
      <a ng-href="/#!/home">Back to Results</a>
    </div>
  </div>

  <table class="details table table-striped table-bordered table-hover">
    <th>Name</th>
    <th>Date</th>
    <th>Message</th>
    <tr ng-repeat="post in business.feed.data"  class="businessRow">
      <td class="text-left">{{post.from.name}}</td>
      <td class="text-left">{{post.updated_time | date : "shortDate" }}</td>
      <td class="text-left">{{post.message}}</td>
  </table>
</div>
