<navigation></navigation>

<div class="container">
  <form ng-submit="getGeo()">
      <input type="text" ng-model="searchVal"></input>
    <button type="submit">Search</button>
  </form>


  <table class="businessTable table table-striped table-bordered table-hover" ng-if="results">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Rating</th>
      <th>Details</th>
    </tr>
    <tr ng-repeat="business in results"  class="businessRow">
      <td class="text-left">{{business.name}}</td>
      <td class="text-left">{{business.location.city}}</td>
      <td class="text-left">{{business.overall_star_rating}}</td>
      <td><button id={{business.id}} ng-click="seeDetails(business.id)">Details</button></td>
    </tr>
  </table>
</div>
