<navigation></navigation>

<div class="container home">

  <form class="searchForm well" ng-submit="getGeo()">
    <div class="searchForm form-group">
      <input type="text" class="form-control input-lg" ng-model="searchVal" placeholder="search for something (coffee, wine...)">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </form>


  <table class="businessTable table table-striped table-bordered table-hover" ng-if="results">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Rating</th>
      <th>Details</th>
    </tr>
    <tr ng-repeat="business in results"  class="businessRow">
      <td class="text-left">{{business.name}}</td>
      <td class="text-left">{{business.location.city}}</td>
      <td class="text-left">{{business.overall_star_rating}}</td>
      <td><button class="btn btn-default" id={{business.id}} ng-click="seeDetails(business.id)">Details</button></td>
    </tr>
  </table>
</div>
